
.skillBars{
    display: inline-block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:1.5rem;
    width:100vw;
    max-width: 70%;
    text-align:left;
}
.skillBar{
   
    display: flex;
    align-items: center;
    margin:1rem;
    padding:1rem;
    border-radius: 0.5rem;
    background-color: rgb(71, 71, 71);
}
.skillBarImage{
    object-fit: cover;
    height:3.5rem;
    width:3.5rem;
    margin-right: 2rem;


}
.skills{
   
    font-family: poppins;
    text-align:center;
    margin: 0 auto;

}
.skillsTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top:3rem;
    margin-bottom: 50rem;
}
.skillsDesc{
    text-align: center;
    width:50%;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 15px;

}
.skillBarText> p {
    font-size: 0.9em poppins;
    font-weight: 200;

}
@media screen and (max-width:720px){
    .skillBarText>p {
        font-size: 2vw;
    }

}

