.contactPage{
    width:100vw;
    max-width:60rem;
    margin: 0 auto;
    text-align:center;
    
    
}
.contact{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.contactDesc{
    padding:1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90vw;
    max-width:60rem;
}
.name, .email, .msg{
    font-size: medium;
    width:100%;
    max-width:40rem;
    margin:1rem;
    /*padding: 0.5rem 1 rem;*/
    color:white;
    border:none;
    border-radius: 0.5rem;
    background: rgb(30,30,30);
    resize:none;
}
.submitButton{
    background-color: white;
    color: black;
    border: none;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin: 2rem;
    border-radius: 0.25rem;
 
}
.links{
   display:flex;
   flex-wrap: wrap;
}
.link{
    object-fit: cover;
    height:2rem;
    width:2rem;
    margin:0 0.75rem;
    border-radius: 50%;
}