
a:hover{
    color:rgb(26, 82, 63);
    text-decoration: underline;
    text-decoration-color:rgb(132, 143, 143) ;
    text-underline-offset: 1rem;

}
a:focus{
    color:rgb(177, 98, 250);
}

h1{
    font-size:2.5em;
    line-height:1.3em;
    font-weight:bold;
    letter-spacing:-.5px;
    padding: .75em 0;
    width: auto;
    display: inline-block;
    position: relative;
    z-index: 1;
   

}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
a{
   text-decoration: none;
   margin-right: 1rem;
  font-weight: bold;
}