
a:hover{
    color:green;
    text-decoration: underline;
    text-decoration-color:rgb(132, 143, 143) ;
    text-underline-offset: 1rem;

}
a:focus{
    color:rgb(223, 166, 23);
}

h1{
    font-size:2.5em;
    line-height:1.3em;
    font-weight:bold;
    letter-spacing:-.5px;
    width: auto;
    display: inline-block;
    position: relative;
    z-index: 1;
   

}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.75rem;
} 
a{
    color:beige;
   text-decoration: none;
   margin-right: 1rem;
  font-weight: 300;
}